body{
       justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: solid white 1px;
    padding-left: 80px;
    padding-right: 80px;
}

.navbar__s1 {
    width: 15%;
}

.navbar__s1 img{
    width: 100%;
}

.navbar__s2{
    display: flex;
    gap: 20px;
    padding-right: 120px;
    
}

.navbar__s3{
    display: flex;
    gap: 10px;
    background-color: white;
    align-items: center;
    
}

.navbar__s3 button{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 30px;
    border: solid black 1px;
    width: 70px;
}

.navbar__s3 button:hover{
    background-color: bisque;
    color: black;
}

/* /* whereto 0 */

h1{
    padding-left: 830px;
    font-size:50px;
    font-weight: 1000px;
}

/* catagories */
.catagories{
    display: flex;
    gap: 20px;
    font-size: 25px;
    font-weight: 800;
    justify-content: center;
    padding: 10px;
}

/* inputbox */
.inputbox{
    border: solid black 1px;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}



.inputbox button{
    background-color: rgb(52, 167, 128);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}

.inputbox button:hover{
    background-color: white;
    color: rgb(158, 231, 207);
}

.inputbox input{
   border: none;
   width: 100%;
   font-size: 20px;
}

.inputbox input:focus{
    outline: none;
}
.input{
    justify-self: center;
    width: 40%;
}

.sale-image{
    justify-content: center;
    width: 60%;
    height: 100%;
    padding-left: 260px;
    padding-top: 50px;
    padding-right: 50px;
    position: relative;
}

.inside-topic{
    border: solid black 1px;
    padding-left: 10px;
    width: 25%;
    justify-content: center;
    font-size: 22px;
    font-weight: 800;
    border-radius: 30px;
    position: absolute;
    left: 350px;
    bottom: 260px;
    border: none;

}

.inside-topic button{
    background-color: rgb(226, 210, 190);
    color: black;
    border-radius: 20px;
    padding: 10px;
    width: 180px;
    height: 50px;
    border: none;
    font-size: 17px;
}

.inside-topic button:hover{
    background-color: beige;
    color: black;
}

.section-one{
    font-size: 20px;
    padding-left:255px;
    padding-top: 20px;
    gap: 10px;
}

.section-one p{
    font-size: 22px;
}
.section-one1{
    display: flex;
    padding-left: 250px;
    align-items: center;
    gap: 50px;
    position: relative;
}


.world{
    position: absolute;
    left: 400px;
    top: 900px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    color:white;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 15%;
}

.world1{
    position: absolute;
    left: 800px;
    top: 900px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    color:white;
}

.world2{
    position: absolute;
    left: 1070px;
    top: 900px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    color:white;
}
.world3{
    position: absolute;
    left: 1430px;
    top: 900px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    color:white;
}
.section-two{
    padding-left: 245px;
    font-size: 20px;
}

.section-two1{
    width: 17%;
    display: flex;
    gap: 20px;
    padding: 10px;
    padding-left: 245px;
    
}
    
.section-two1__1{
    border: solid black 1px;
    padding: 10px;

}

.section-two1__2{
    border: solid black 1px;
    padding: 10px;

}

.section-two1__3{
    border: solid black 1px;
    padding: 10px;

}

.section-two1__4{
    border: solid black 1px;
    padding: 10px;

}

.section-three{
    padding-left: 245px;
    font-size: 20px;
}

.section-three1{
    width: 17%;
    display: flex;
    padding-left: 245px;
    gap: 20px;
    padding-bottom: 80px;
}

.section-three1__1{
    border: solid black 1px;
    padding: 10px;

}

.section-three1__2{
    border: solid black 1px;
    padding: 10px;

}

.section-three1__3{
    border: solid black 1px;
    padding: 10px;

}

.more{
    width: 100%;
    background-color: bisque;
}

.more1{
    width: 200px;
    display: flex;
    padding-left: 245px;
    gap: 75px;
    font-size: 20px;
}

.more h2{
    padding-left: 245px;
    padding-top: 20px;
    font-size: 30px;
}

.more1 p{
    padding: 10px;
    padding-left: 30px;
}

.dream h2{
    padding-left: 245px;
    font-size: 35px;
}
.dream p{
    padding-left: 245px;
    font-size: 25px;
}


.dream1{
    width: 20%;
    display: flex; 
    gap: 40px;
    padding: 10px;
    padding-left: 245px;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
}
 
.dream1__1 p{
    position: absolute;
    bottom: 10px;
    color: white;
    left:0px;
}

.dream1__2 p{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 350px;
}

.dream1__3 p{
    position: absolute;
    bottom: 10px;
    color: white;
    left: 700px;
}

.dream1__4 p{
    position: absolute;
    bottom: 10px;
    color: white;
    left:1050px;
}

.next h2{
    padding-left: 245px;
    font-size: 30px;
}

.next1{
    display: flex;
    padding-left: 245px;
    gap: 40px;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
}

.next1__1 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.next1__2 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.next1__3 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.next1__4 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.holiday{
    padding-bottom: 100px;
}

.holiday h2{
    padding-left: 245px;
    font-size: 30px;
}
.holiday h3{
    padding-left: 245px;
    font-size: 25px;
    font-weight: lighter;
}

.holiday1{
   
    display: flex;
    padding-left: 245px;
    gap: 40px;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
}

.holiday1__1 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.holiday1__2 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.holiday1__3 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.holiday1__4 p{
    position: absolute;
    bottom: 10px;
    color: white;
    padding-left: 10px;
}

.picture{
    width: 70%;
    background-color: rgb(206, 193, 218);
    display: flex;
    border: solid black 1px;
    padding-left: 2px;
    margin-left: 243px;
    border: none;
    

}

.picture1{
    padding: 20px;
    
}

.picture1__1{
    padding: 130px;
    padding-top: 170px;
    font-size: 25px;
    margin-left: 20px;
}

.picture button{
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    align-items: center;
    font-size: 20px;
}
.picture button:hover{
    background-color: rgb(54, 50, 50);
    color: white

}

.lastpic{
      width: 100%;
     
      
    
}
.lastpic img{
    width: 100%;
    height: 700px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}

.lastpic1__1{
    border: solid black 1px;
    width: 25%;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 5400px;
    left: 250px;
    color: white;
    border: none;
}
.lastpic1__1 button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
}

.lastpic1__1 button:hover{
    background-color: rgb(124, 110, 110);
    color: black;
}

.lastpic1__1 h2{
font-weight: bolder;
}

.footer{
    background-color: rgb(252, 245, 235);
    padding: 20px;;
}

.footer__one{
    display: flex;
    
}
.footer__one p{
    border: solid black 1px;
    padding: 
    padding-left: 20px;
    gap: 20px;
    border: solid rgb(252, 245, 235) 1px;
    border-width: 2px;
}

.footer__one p:hover{
    border-bottom: solid rgb(156, 150, 150) 1px;
}
.footer__two__s2{
    display: flex;
    gap: 20px;
    font-size: 20px;
    
}
.footer__two__s2 p{
    border-bottom: solid black 2px;
}

.footer__three{
    display: flex;
}

.footer__three__s1 p{
      width: 50%;
}
.footer__three__s2{
    display: flex;
    gap: 40px;
    font-size: 50px;
}

.footer__three__s2 p:hover{
    font-size: 55px;
}

.footer__two__s2 button{
    width: 50px;
}

